= content_for(:title, 'Positions')
= content_for(:actions, action_list(:new))
= content_for(:count, @positions.length.to_s)

%table.sort{:style => 'width: 100%'}
  %thead
    %tr
      %th.asc(width="225") Name
      %th(width="350") Short Description
      %th(width="90" data-sort-as="int") Qty
      %th(data-sort-as="custom") Start
      %th(data-sort-as="custom") End
  %tbody
    - @positions.each do |position|
      %tr.link{'data-href' => position_path(position)}
        %td= position.name
        %td= position.short_description
        %td= position.quantity
        %td{'data-sort-by' => Time.parse(position.default_start).to_i}= position.default_start
        %td{'data-sort-by' => Time.parse(position.default_end).to_i}= position.default_end
